body{
    background-color: #fedcbd;
}
.banner {
    margin: auto;
    width: 1200px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    font-family: 黑体;
    background-image: url('./images/banner2.jpg');
    background-size: cover;
}

.productboard{
    display: flex;
    flex-direction: row;
    flex:1;
    padding-left: 10px;
    align-items: center;
    background-image: url('./images/stripe.jpg');
    background-repeat: repeat-x;
}

.main {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1200px;
    height: 900px;
    background: url('./images/stripe.jpg');
    background-repeat: repeat-x;
    background-color: white;
}

.footer {
    margin: auto;
    width: 1200px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    font-family: 宋体;
    font-weight: bold;
    background-image: url('./images/banner2.jpg');
    background-size: cover;
}

.footerimg {
    width: 30px;
    height: 30px;
    padding-top: 10px;
}

.footerp {
    display: inline;
    font-size: 16px;
}

.titleBox{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.noticeboard {
    flex:1;
    background-image: url('./images/whitetile.jpg');
    background-repeat: repeat;
}

.blockright {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.carousel {
    width: 100%;
    height: 20%;
}

.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex:1;
}

div.img {
    margin: 5px;
    padding: 5px;
    border: 2px solid #ccc;
    float: left;
    text-align: center;
    cursor: pointer;
    width: 150px;
}

div.img img {
    width: 120px;
    height: 120px;
}

div.img:hover {
    border: 2px solid #13227a;
    margin: 5px;
    background-color: rgba(250,167,85,0.8);
}

.articleItem:hover {
    background-color: #13227a;
    color: white;
    font-family: 黑体;
}

div.desc {
    paddingTop: 5px;
    text-align: center;
    font-family: 黑体;
}

/*新闻内容*/
.newsfont {
    text-indent: 2em;
    font-size: 25px;
}

/*APP详情 名称大小时间*/
table.softwaredesc td {
    height: 40px;
    text-align: center;
    font-size: 20px;
}

/*下载按钮*/
.btn {
    display: inline-block;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    width: 100px;
    height: 45px;
}

.btn:hover {
    background-color: #1af057;
    border: 1px solid #1af057;
}

/*上下页按钮所在容器*/
div.pagerbox {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*上下页按钮*/
.pagerbtnactive {
    display: inline-block;
    border: 1px solid black;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding-top: 10px;
    width: 90px;
    height: 30px;
    cursor: pointer;
}

.pagerbtnactive:hover{
    color: red;
    font-weight: bolder;
}

/*新闻列表条目*/
.newsbox {
    background: rgba(204, 256, 204, 0.4);
    height: 50px;
    text-decoration: none;
    font-size: large;
    width: 800px;
    margin-left: 200px;
    text-align: center;
    margin-bottom: 2px;
}

.newsbox:hover{
    color: white;
    background: #13227a;
    cursor: pointer;
    font-family: 黑体;
}

/*晨风软件导航按钮图*/
.navImg{
    background: rgba(19, 34, 122, 0.4)
}

/*标题栏 更多字样*/
.moreCSS:hover{
    color: red;
}
/*新闻详情 前往列表按钮*/
.toList:hover{
    color: red;
    font-weight: bold;
}

